.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
    height: 100%;
}
.dialogList {

}
.discussion {
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    margin: 10px;
}

.display {
    height: auto;
    width: 100%;
    background-image: url("https://iqonic.design/themes/socialv/vue/dist/img/100.2d05046f.jpg");
}
.inputs {
    padding: 15px;
    display: flex;
}
.inputs input {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #50B5FF;
    flex-grow: 5;
    padding-left: 10px;
}
.inputs button {
    background-color: #50B5FF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    flex-grow: 1;
}